{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-reader">
                        <div class="cart-title">KOTOKO</div>
                        <div class="card-category">UNIS</div>
                    </div>
                    <div class="card-body"> At her audition for Universe Ticket, she performed TWICE‘s Candy Pop. <br>
                        She enjoys collecting stickers. Nickname: Ko-Chan.</BR>
                        She believes that she was the pop of Universe Ticket.</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}